.container.container_equipment-carousel
    .owl-carousel.owl-theme.equipment-carousel
        img(src="img/equipment1.png", alt="viessmann")
        img(src="img/equipment2.png", alt="Mitsubishi_Electric-Logo")
        img(src="img/equipment3.png", alt="KNX")
        img(src="img/equipment4.png", alt="mohlenhoff")
        img(src="img/equipment5.png", alt="axxonsoft")
        img(src="img/equipment6.png", alt="Schneider_Electric")
        img(src="img/equipment7.png", alt="ABB")
        img(src="img/equipment8.png", alt="Buhler-AHS")
        img(src="img/equipment9.png", alt="daikin")
        img(src="img/equipment10.png", alt="rehau")
        img(src="img/equipment11.png", alt="Mikrotik")
        img(src="img/equipment12.png", alt="Siemens")
        img(src="img/equipment13.png", alt="sauter")
        img(src="img/equipment14.png", alt="hik vision")
        img(src="img/equipment15.png", alt="bosch")
