.advantage{

}

.advantage__icon{
    min-width: 26px;
    max-width: 26px;
    min-height: 26px;
    max-height: 26px;
    background-color: #c9972b;
    margin-right: 21px;
    border-radius: 5px;
}

.advantage__icon_arrow{
    background-image: url("img/service-arrow.png");
}

.advantage__title{
    color: #ffffff;
    font-family: "Open Sans - Semibold";
    font-size: 17px;
}

.advantage__icon_small{
    min-width: 22px;
    min-height: 22px;
    max-width: 22px;
    max-height: 22px;
    margin-right: 8px;
}

.advantage__icon_smallest{
    min-width: 19px;
    min-height: 19px;
    max-width: 19px;
    max-height: 19px;
    margin-right: 8px;
}

.advantage__text{
    color: #ffffff;
    font-family: "Arial Narrow";
    font-size: 14px;
    line-height: 20px;
}
