noscript
    p Please enable Javascript
    
header.flex-column.flex-md-row
    a.mr-0.mr-md-4(href="#")
        img(src="img/header-logo.png", alt="invision group")
    

    nav.navbar.navbar-expand-md.header__nav.justify-content-center.justify-content-lg-between
        button.navbar-toggler(type='button', data-toggle='collapse', data-target='#headerNav', aria-controls='headerNav', aria-expanded='true', aria-label='Toggle navigation')
            i.color-white(style="font-style:normal;") ☰
    
        #headerNav.navbar-collapse.show
            ul.navbar-nav
                li.my-1.my-lg-0
                    a.header__nav-item(href="#") Invision group
                li.my-1.my-lg-0
                    a.header__nav-item(href="#") О Компании
                li.my-1.my-lg-0
                    a.header__nav-item.header__nav-item_active(href="#") Услуги
                li.my-1.my-lg-0
                    a.header__nav-item(href="#") Инженерные системы
                li.my-1.my-lg-0
                    a.header__nav-item(href="#") Портфолио
                li.my-1.my-lg-0
                    a.header__nav-item(href="#") Контакты
    
    .header__socials
        a.insta-icon(href="#")
        a.yt-icon(href="#")
        a.fb-icon(href="#")
    
