.service-carousel img{
    width: auto !important;
}

.service-carousel .owl-nav{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    position: relative;
    top: -67px;
}

.service-carousel__counter{
    color: #fff;
}

.service-carousel__wrapper{
    min-height:545px;
}
