.service-carousel img{
    width: auto !important;
}

.service-carousel .owl-nav{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    position: relative;
    top: -67px;
}

.service-carousel__counter{
    color: #fff;
}

.service-carousel__wrapper{
    min-height:545px;
}

.service{
    position: relative;
    width: 200px;
}

.service_medium{
    width: 270px;
}

.service_bottom{
    margin-top: 90px;
}

.service_big{
    width: 300px;
}

.service img{
    z-index: 1;
    position: relative;
}

/* COMMON */
.service__title{
    position: absolute;
    z-index: 2;
    color: #c59946;
    font-family: "Arial Narrow";
    font-size: 17px;
    white-space: nowrap;
    padding: 21px 75px 21px 56px;
    text-transform: uppercase;
    border-radius: 0 5px 5px 0;
    background-color: rgba(0,0,0,0.8);
    letter-spacing: 1.02px;
    transition-duration: 1s;
    transition-property: left,right;
}

.service__title_big{
    width: 88%;
    font-size: 22px;
    letter-spacing: 1.32px;
    padding: 13px 75px 13px 56px;
}

.service__title:hover{
    color: #c59946;
    text-decoration: none;
}

.service__inner{
    display: flex;
    overflow: hidden;
    width: 420px;
    position: absolute;
    top: 0px;
}

.service__info{
    position: absolute;
    width: 163px;
    height: 70px;
    z-index: 2;
    bottom: 101px;
    left: 52px;
}



.service__number{
    color: #fffefe;
    font-family: "Open Sans";
    font-weight: 700;
    border-bottom: 1px solid #c59946;
}

.service__text{
    color: #ffffff;
    font-family: "Open Sans - Semibold";
    font-size: 19px;
    bottom: 0%;
    position: absolute;
}


.service__arrows{
    display: flex;
    justify-content: flex-end;
    margin-left: auto;
}

/* SERVICE1 */
.service__inner_1{
    left: 0px;
}

.service__title_1{
    left: -436px;
    top: 14px;
}

.service:hover .service__title_1{
    left: 0px;
}


/* SERVICE2 */
.service__inner_2{
    right: 0px;
    justify-content: flex-end;
    margin-top:100px;
}

.service__title_2{
    right: -500px;
    bottom: 14px;
}

.service:hover .service__title_2{
    right: 0px;
}

/* SERVICE3 */
.service__inner_3{
    right: 0px;
    justify-content: flex-end;
}

.service__title_3{
    right: -500px;
    top: 14px;
}

.service:hover .service__title_3{
    right: 0px;
}

@media (max-width:1200px),(max-device-width:1200px) {
    .service__info{
        left:auto;
        right: 15px;
    }

    .service_medium, .service_medium img{
        width: 200px;
    }


}


@media (max-width:992px),(max-device-width:992px) {
    .service img{
        width: 145px !important;
        object-fit: contain;
    }

    .service_big, .service_big img{
        width: 200px !important;
    }

    .service__title_big{
        bottom: 85px;
        width: auto;
    }

    .service__info{
        bottom: 200px;
    }

    .service_medium{
        width: 145px;
    }

    .service__arrows{
        order: -1;
        margin-bottom: 20px;
        justify-content: center;
    }
}

@media (max-width:767px),(max-device-width:767px) {
    .service_bottom{
        margin-top: 0px;
    }

    .service_medium{
        margin: 0px auto;
    }

    .service, .service img{
        width: 144px;
    }

    .service__title{
        padding: 5px 20px;
        font-size: 13px;
    }

    .service{
        height: 210px;
    }

    .service__info{
        bottom: auto;
        right: auto;
        width: auto;
    }

    .service__text{
        display: none;
    }

    .service__number{
        border-bottom: 0px;
    }

    .service-carousel .owl-nav{
        justify-content: center;
        position: static;
        top: 0px;
    }

    .service img{
        height: 220px;
    }

    .service-carousel__wrapper{
        min-height: inherit;
    }

    .service__inner_2{
        margin-top:0px
    }


}

@media (max-width:560px),(max-device-width:560px) {
    .service__title{
        font-size: 13px;
        padding: 16px;
    }

    .service__inner{
        width: 270px;
    }
}

@media (max-width:460px),(max-device-width:460px) {
    .service img, .service{
        width: 90px !important;
    }

    .service_big img, .service_big{
        width: 140px !important;
    }
}
