.service-carousel img{
    width: auto !important;
}

.service-carousel .owl-nav{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    position: relative;
    top: -67px;
}

.service-carousel__counter{
    color: #fff;
}

.service-carousel__wrapper{
    min-height:545px;
}

.service__arrows{
    display: flex;
    justify-content: flex-end;
    margin-left: auto;
}

@media (max-width:992px),(max-device-width:992px) {
    .service__arrows{
        order: -1;
        margin-bottom: 20px;
        justify-content: center;
    }
}
