.backgrounds-carousel{
    width: 100%;
    height: 100vh;
    position: fixed;
    top: 0%;
    display: flex;
    flex-wrap: nowrap;
    overflow: hidden;
    z-index: -1;
}

.backgrounds-carousel__item{
    width: 100%;
    height: 100vh;
    flex: 0 0 auto;
}

.backgrounds-carousel__item_bg1{
    background: url("img/contact-bg.jpg") no-repeat center / cover;
}
.backgrounds-carousel__item_bg2{
    background: url("img/service-bg.jpg") no-repeat center / cover;
}
