.pagination{
    position: absolute;
    right: 0%;
    top: 35%;
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 1;
}

.pagination__item{
    width: 22px;
    height: 22px;
    background: url("img/service-slider-left.png") no-repeat center / contain;
}

.pagination__item_top{
    transform: rotate(90deg);
}
.pagination__item_bottom{
    transform: rotate(-90deg);
}

.pagination__item_active{

}

.pagination__item:not(:last-child){
    margin-bottom: 15px;
}

.pagination__item:not(.pagination__item_active){
    cursor: pointer;
}

@media (max-width:767px),(max-device-width:767px) {
    .pagination{
        flex-direction: row;
        left: 50%;
        top: -14px;
        justify-content: center;
        transform: translateX(-50%);
    }

    .pagination__item:not(:last-child){
        margin-bottom: 0px;
        margin-right: 15px;
    }
}
