doctype html
html(lang="ru")
    include ../blocks/head/head.jade
    body
        .backgrounds-carousel
            .backgrounds-carousel__item(style="background:url('img/main-bg-0.jpg') no-repeat center / cover")
        include ../blocks/header/header.jade
            
        main.text-center.text-lg-left
            .container
                include ../blocks/triangles/triangles.jade
        
            .container.px-0
                .row.justify-content-between.mx-0
                    .col-md-6
                        .container__about-text.mx-auto.mx-md-0.mr-md-auto.mb-4.mb-sm-0(style="width:200px;")
                            span(style="color: #c59946;") INNOVATIVE
                            br
                            | ENGINEERING
                            br
                            | VISION
                    .col-md-6
                        .container__about-text.mx-auto.mx-md-0.ml-md-auto.mt-4.py-4(style="width:231px;")
                            span(style="color: #c59946;") 95
                            br
                            | ВЫПОЛНЕННЫХ
                            br
                            | ПРОЕКТА
