doctype html
html(lang="ru")
    include ../blocks/head/head.jade
    body(style="background:url('img/contact-bg.jpg') no-repeat center / cover; min-height:96vh;")
        include ../blocks/header/header.jade
            
        main.text-center.text-md-left
            .container.mt-1.mt-md-2.mt-xl-5
                include ../blocks/pagination/pagination.jade
                .container.container_service(data-paginationItem='1')
                    
                    h2.container__title.mt-3 Лицензии
                    .owl-carousel.owl-theme.owl-about
                        img(src="img/certificate1.jpg",alt="сертификат1")
                        img(src="img/certificate2.jpg",alt="сертификат2")
                        img(src="img/certificate1.jpg",alt="сертификат1")
                        img(src="img/certificate2.jpg",alt="сертификат2")
                        img(src="img/certificate1.jpg",alt="сертификат1")
                        img(src="img/certificate2.jpg",alt="сертификат2")
                        img(src="img/certificate1.jpg",alt="сертификат1")
                        img(src="img/certificate2.jpg",alt="сертификат2")
                        
                
                    h2.container__title.mt-3 Благодарности
                    .owl-carousel.owl-theme.owl-about
                        img(src="img/thanks.jpg",alt="благодарность")
                        img(src="img/thanks.jpg",alt="благодарность")
                        img(src="img/thanks.jpg",alt="благодарность")
                        img(src="img/thanks.jpg",alt="благодарность")
                        img(src="img/thanks.jpg",alt="благодарность")
                        img(src="img/thanks.jpg",alt="благодарность")
                        img(src="img/thanks.jpg",alt="благодарность")
                        img(src="img/thanks.jpg",alt="благодарность")
                        
                .container.container_service(data-paginationItem='2')     
                    .row.mx-0
                        .col-lg-6
                            h2.container__title.mt-3 О компании
                
                            .container__text Инжиниринговая компания INVISION GROUP - современная, динамично развивающаяся инженерно-строительная компания, предлагающая полный комплекс услуг от разработки проектной документации до сдачи объекта в эксплуатацию с возможностью поставки и изготовления инженерного оборудования под проекты. 
                                br
                            .container__text INVISION GROUP также оказывает услуги инженерного консалтинга, проводит техническое обслуживание и имеет возможность выступать в качестве генподрядчика. 
                                | Компания активно взаимодействует с государственными и коммерческими организациями, частными заказчиками, архитектурными бюро, дизайн студиями, девелоперскими и строительными компаниями
                
                        .col-lg-6
                            h3.container__title_small.mt-4 Наши заказчики
                            .d-flex.justify-content-center.justify-content-sm-between(style="max-width:504px")
                                .container__text
                                    |   ООО «ВестСайдЭстейт»
                                    br
                                    |   ООО «СУ-22»
                                    br
                                    |   ООО «РТС-Девелопмент»
                                    br
                                    |   ООО «Хотел-Менеджмент Компани»
                                    br
                                    |   ООО «Регион Инженеринг»
                                    br
                                    |   ООО «Кариатида-Строй»
                                    br
                                    |   ООО «Харчевниковъ»
                                    br
                                    |   ООО «Интертехпроект»
                                    br
                                    |   ОАО «Фармасинтез»
                                    br
                                    |   ООО «РиалЭстейт Менеджмент»
                                .container__text.d-none.d-sm-block
                                    | ООО «АЙ БИ ДЖИ КЭПИТАЛ»
                                    br
                                    | ООО «АРКС ГС»
                                    br
                                    | ООО «СпецСитиСтрой»
                                    br
                                    | ООО «СвязьИнжСтрой»
                                    br
                                    | Башня «Федерация» Запад
                                    br
                                    | Pесторан «O2 Lounge»
                                    br
                                    | Гостиница «Москва»
                                    br
                                    | ЖК «Суханово Парк»
                                    br
                                    | ЖК «Дом на Мосфильмовской»
                                    br
                                    | ЖК «Артхаус»
                    .container.my-4
                        .row.align-items-center
                            .col-md-6.px-1
                                .d-flex.justify-content-around.justify-content-sm-between
                                    .download.mr-2(style="background:url('img/download1.jpg') no-repeat center / contain")
                                        img.download__icon(src="img/download-icon.png", alt="скачать")
                                        .download__text скачать
                                            br
                                            | презентацию
                                    .download(style="background:url('img/download2.jpg') no-repeat center / contain")
                                        img.download__icon(src="img/download-icon.png", alt="скачать")
                                        .download__text скачать
                                            br
                                            | Портфолио
                            .col-md-6
                                .container__about-text.mx-auto.mx-sm-0.ml-sm-auto
                                    span(style="color: #c59946;") 150 000
                                    br
                                    | метров проложенных 
                                    br
                                    | инженерных сетей
