doctype html
html(lang="ru")
    include ../blocks/head/head.jade
    body(style="background:url('img/contact-bg.png') no-repeat center / cover; min-height:96vh;")
        include ../blocks/header/header.jade
            
        main.text-center.text-md-left
            .container.container_service
                .row.mx-0
                    .col-md-3.col-6.mt-4.mt-md-0
                        .service.service_medium.service_bottom
                            .service__inner.service__inner_1.mt-0
                                img(src="img/portfolio1.png", alt="Артхаус")
                                a.service__title.service__title_1(href="#", style="bottom:14px;top:auto") Суханово-парк
                    .col-md-3.col-6.mt-4.mt-md-0
                        .service.service_medium
                            .service__inner.service__inner_3.mt-0
                                img(src="img/portfolio2.png", alt="Артхаус")
                                a.service__title.service__title_3(href="#") Административно-офисные объекты
                    .col-md-3.col-6.mt-4.mt-md-0
                        .service.service_medium.service_bottom
                            .service__inner.service__inner_2.mt-0
                                img(src="img/portfolio3.png", alt="Артхаус")
                                a.service__title.service__title_2(href="#") Какой-то вокзал
                    .col-md-3.col-6.mt-4.mt-md-0
                        .service.service_medium
                            .service__inner.service__inner_3.mt-0
                                img(src="img/portfolio4.png", alt="Артхаус")
                                a.service__title.service__title_3(href="#") Московское центральное кольцо
