doctype html
html(lang="ru")
    include ../blocks/head/head.jade
    body(style="background:url('img/contact-bg.jpg') no-repeat center / cover; min-height:96vh;")
        include ../blocks/header/header.jade
            
        main.text-center.text-md-left
            .container.container_service
                .d-flex.justify-content-around.flex-wrap
                    .example
                        img(src="img/example1.jpg", alt="пример работы")
                        a.example__title(href="#") Гостиная
                    .example
                        img(src="img/example2.jpg", alt="пример работы")
                        a.example__title(href="#") Цветной бульвар
                    .example
                        img(src="img/example3.jpg", alt="пример работы")
                        a.example__title(href="#") Гостиная
                    .example
                        img(src="img/example4.jpg", alt="пример работы")
                        a.example__title(href="#") Гостиная
                    .example
                        img(src="img/example5.jpg", alt="пример работы")
                        a.example__title(href="#") Гостиная
                    .example
                        img(src="img/example6.jpg", alt="пример работы")
                        a.example__title(href="#") Гостиная
                    .example
                        img(src="img/example7.jpg", alt="пример работы")
                        a.example__title(href="#") Гостиная
                    .example
                        img(src="img/example8.jpg", alt="пример работы")
                        a.example__title(href="#") Гостиная
