doctype html
html(lang="ru")
    include ../blocks/head/head.jade
    body(style="background:url('img/service-bg.png') no-repeat center / cover; min-height:92vh;")
        include ../blocks/header/header.jade
            
        main.text-center.text-md-left
            .container.container_service
                .row.mx-0
                    .col-md-4
                        h2.container__title_service.mt-3 Основные направления деятельности
                        .container__text.mb-4 Компания INVISION GROUP имеет развитую инфраструктуру, необходимую для осуществления полного комплекса строительно-монтажных работ от этапа создания проектной документации до сдачи объекта в эксплуатацию.
                        .container__text Предоставляя каждому клиенту возможность почувствовать себя полноправным участником создания проекта, мы предлагаем продуманные и оптимальные решения в соотношении цены и качества.
                    .col-md-8.container_service-wrapper
                        .owl-carousel.owl-theme.service-carousel
                            .d-flex.justify-content-around.justify-content-md-start.service-carousel__wrapper
                                .service
                                    .service__inner.service__inner_1
                                        img(src="img/service-preview1.png", alt="Строительно-отделочные работы")
                                        a.service__title.service__title_1(href="#") Строительно-отделочные работы
                                        
                                .service.mx-0.mx-md-4
                                    .service__inner.service__inner_2
                                        img(src="img/service-preview2.png", alt="Сервисное обслуживание")
                                        a.service__title.service__title_2(href="#") Сервисное обслуживание
                                        
                                .service
                                    .service__inner.service__inner_3
                                        img(src="img/service-preview3.png", alt="Проектирование")
                                        a.service__title.service__title_3(href="#") Проектирование
                            .d-flex.justify-content-around.justify-content-md-start
                                .service
                                    .service__inner.service__inner_1
                                        img(src="img/service-preview1.png", alt="Строительно-отделочные работы")
                                        a.service__title.service__title_1(href="#") Строительно-отделочные работы
                                        
                                .service.mx-0.mx-md-4
                                    .service__inner.service__inner_2
                                        img(src="img/service-preview2.png", alt="Сервисное обслуживание")
                                        a.service__title.service__title_2(href="#") Сервисное обслуживание
                                        
                                .service
                                    .service__inner.service__inner_3
                                        img(src="img/service-preview3.png", alt="Проектирование")
                                        a.service__title.service__title_3(href="#") Проектирование
