doctype html
html(lang="ru")
    include ../blocks/head/head.jade
    body(style="background:url('img/service-bg.png') no-repeat center / cover")
        include ../blocks/header/header.jade
            
        main
            
            
        
        include ../blocks/footer/footer.jade
