.triangles
    .triangles__main
        .triangle.triangle__1
        .triangle.triangle__2
        .triangle.triangle__3
        .triangle.triangle__4
        .triangle.triangle__5
        .triangle.triangle__6
    .triangles__description
        .triangles__title Проектирование
        .triangles__text Разработка проектной документации и проектирование инженерных систем.
