@media (min-width: 1200px){
    .container {
        max-width: 1170px;
    }
}

.container_service{
    margin-top: 34px;
    padding: 0px;
}

.container_equipment{
    background: rgba(0,0,0,0.4);
    padding: 27px 42px 28px 31px;
}

.container_advantages{
    margin-top: 50px;
}

.container_contacts{
    margin-top: 80px;
    margin-bottom: 69px;
}

.container_equipment-carousel{
    margin-top: 71px;
    padding-bottom: 70px;
}

.container_service-wrapper{
    padding-left: 54px;
    max-width: 720px;
}

.container_service-inner{
    min-height: 441px;
}

.container_service-wrapper2{
    padding-left: 79px;
}

@media (max-width:1200px),(max-device-width:1200px) {
    .container_service-wrapper2{
        padding-left: 0px;
    }
}

.container__title_service{
    color: #c59946;
    font-family: "Open Sans - Semibold";
    font-size: 24px;
    line-height: 40px;
    margin-bottom: 27px;
}

.container__title_equipment{
    font-family: "Open Sans - Semibold";
    font-size: 17px;
    line-height: 27px;
    color: #ffffff;
}

.container__text{
    color: #ffffff;
    font-family: "Arial Narrow";
    font-size: 17px;
    font-weight: 400;
    line-height: 27px;
}

@media (max-width:1200px),(max-device-width:1200px) {
    .container_service-wrapper{
        max-width: 66.666%;
        padding-left: 15px;
        padding: 0px;
    }
}

@media (max-width:992px),(max-device-width:992px) {
    .container_service-wrapper{
        min-height: 300px;
    }

    .container_contacts{
        margin-top: 20px;
    }
}

@media (max-width:767px),(max-device-width:767px) {
    .container_service-wrapper{
        max-width: 100%;
    }

    .container_service{
        margin-top: 0px;
    }

    .container_service-inner{
        min-height: auto;
    }

    .container_service-wrapper2{
        padding: 0px;
    }
}
