.owl-portfolio .owl-nav{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    position: relative;
    top: 45px;
    left: 15px;
    color: #fff;
}

.owl-portfolio img{
    border-radius: 10px;
}
